.projects {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
  margin-top: 150px;
}

.projects-container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.projects-container h2::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #007bff;
  display: block;
  margin: 8px auto 0;
}

.projects-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgba(238, 69, 31, 0.901);
  text-shadow: 1px 1px 3px rgb(144, 142, 142);
}

.project-card p {
  font-size: 1rem;
  color: #555;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  color: white;
  background: #007bff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056b3;
}

span {
  font-weight: bold;
}
